<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your message !</title>
</head>
<body>
    <h2><%=chat.id %></h2>
    <p> this message from<%= chat.from%> to <%= chat.to%></p>
   <form action="/chats/<%= chat._id %>?_method=PUT" method="POST">
    <input type="text" name="msg" value="<%= chat.msg %>">
    <button type="submit">Update Chat</button>
</form>

</body>
</html>